{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_multichoice/inline_edit_view

    Renders a view of the question for interactive editing.

    Context variables required for this template:
    * questionid - Question id.
    * rawname - Question name as stored in the database.
    * displayname - Question name after processing with format_string.
    * questiontext - Question text.
    * answers - An array containing the answers.
    Example context (json):
    {
        "questionid": 123,
        "questionname": "Simple question",
        "questiontext": "<p>What is the answer?</p>",
        "defaultmark": 1.00,
        "answers": [
            {
                "id": 200,
                "answer": "<p>Right answer</p>",
                "isright": 1,
            },
            {
                "id": 201,
                "answer": "<p>Wrong answer</p>",
                "isright": 0,
            }
        ],
        "versioninfo": {
            "versioninfo": "Version 2 (latest)"
        },
    }
}}
<div data-question-id="{{questionid}}" class="que multichoice">
    <div class="info">
        <h3 class="no">Question
            <span class="inplaceeditable inplaceeditable-text w-100"
                data-item-identifier="question-name"
                data-raw-value="{{rawname}}"
                data-edit-label="{{#str}} editquestionname, qtype_multichoice {{/str}}">
                    <a href="#" class="quickeditlink w-100" data-action-edit="1" title="{{#str}} editquestionname, qtype_multichoice {{/str}}">
                        <span class="displayvalue">{{{displayname}}}</span>
                        
                    </a>
            </span>
        </h3>
        <div class="grade">Marked out of {{defaultmark}}</div>
        {{#versioninfo}}
            {{>core_question/question_version_info}}
        {{/versioninfo}}
    </div>
    <div class="content">
        <div class="formulation clearfix">
            <h4 class="accesshide">Question text</h4>
            <div class="qtext">
                <div class="clearfix">
                    <span class="inplaceeditable">{{{questiontext}}}</span>
                </div>
            </div>
            <div class="ablock">
                <ul class="ablock">
                    {{#answers}}
                        <li data-answer-id="{{id}}"><span class="inplaceeditable">{{{answer}}}</span></li>
                    {{/answers}}
                </ul>
            </div>
        </div>
    </div>
</div>
